<a href="https://colab.research.google.com/github/RaulPreciado/IS_4487/blob/main/AdviseInvest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import matplotlib as mpl
import numpy as np

In [17]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)
df = pd.read_csv (r'/adviseinvest.csv')

Mounted at /content/gdrive

In [18]:
print(df)

       answered  income  female  age  job  num_dependents  rent  own_res  \
0             1   13520       0   23    0               1     1        0
1             0   14780       0   22    2               1     0        1
2             1   37570       0   62    2               1     0        0
3             0   12450       0   33    2               1     0        1
4             0   12400       0   48    1               2     0        0
...         ...     ...     ...  ...  ...             ...   ...      ...
29499         1   11630       0   44    2               1     0        1
29500         0   28640       0   34    1               2     0        1
29501         1   34480       0   74    1               1     0        1
29502         1   10550       0   30    2               1     0        1
29503         0  125790       0   44    3               1     0        0

       new_car  chk_acct  sav_acct  num_accts  mobile  product
0          0.0         0         2          0       1        2
1          0.0         3         0          3       0        0
2          1.0         3         0          4       0        4
3          0.0         1         0          2       0        0
4          1.0         2         1          4       0        0
...        ...       ...       ...        ...     ...      ...
29499      1.0         3         2          2       0        4
29500      0.0         2         0          2       0        0
29501      0.0         3         0          3       0        4
29502      1.0         3         0          1       0        1
29503      0.0         1         0          4       1        0

[29504 rows x 14 columns]

In [19]:
print(df.head())

   answered  income  female  age  job  num_dependents  rent  own_res  new_car  \
0         1   13520       0   23    0               1     1        0      0.0
1         0   14780       0   22    2               1     0        1      0.0
2         1   37570       0   62    2               1     0        0      1.0
3         0   12450       0   33    2               1     0        1      0.0
4         0   12400       0   48    1               2     0        0      1.0

   chk_acct  sav_acct  num_accts  mobile  product
0         0         2          0       1        2
1         3         0          3       0        0
2         3         0          4       0        4
3         1         0          2       0        0
4         2         1          4       0        0

In [20]:
print(df.tail())

       answered  income  female  age  job  num_dependents  rent  own_res  \
29499         1   11630       0   44    2               1     0        1
29500         0   28640       0   34    1               2     0        1
29501         1   34480       0   74    1               1     0        1
29502         1   10550       0   30    2               1     0        1
29503         0  125790       0   44    3               1     0        0

       new_car  chk_acct  sav_acct  num_accts  mobile  product
29499      1.0         3         2          2       0        4
29500      0.0         2         0          2       0        0
29501      0.0         3         0          3       0        4
29502      1.0         3         0          1       0        1
29503      0.0         1         0          4       1        0

##Removing rows containing NAs and filtering others with logical condition

In [21]:
dropNAdf = df.dropna() 
dropNumAcc = dropNAdf[dropNAdf.num_accts <= 5] 
dropNumIncome = dropNumAcc[dropNumAcc.income >= 0]

##Job column code

In [22]:
dropNumIncome.loc[dropNumIncome["job"] == 0, "job"] = "unemployed"
dropNumIncome.loc[dropNumIncome["job"] == 1, "job"] = "entry level position"
dropNumIncome.loc[dropNumIncome["job"] == 2, "job"] = "midlevel position"
dropNumIncome.loc[dropNumIncome["job"] == 3, "job"] = "management/ self-employed/ highly qualified employee/ officer"

/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

##Product column code

In [23]:

dropNumIncome.loc[dropNumIncome["product"] == 0, "product"] = "customer did not answer call"
dropNumIncome.loc[dropNumIncome["product"] == 1, "product"] = "customer answered but did not purchase a product"
dropNumIncome.loc[dropNumIncome["product"] == 2, "product"] = "customer answered and purchased Beginner plan"
dropNumIncome.loc[dropNumIncome["product"] == 3, "product"] = "customer answered and purchased Intermediate plan"
dropNumIncome.loc[dropNumIncome["product"] == 4, "product"] = "customer answered and purchased Advanced plan"

##Chk_Acct column code

In [24]:
dropNumIncome.loc[dropNumIncome["chk_acct"] == 0, "chk_acct"] = "no checking account"
dropNumIncome.loc[dropNumIncome["chk_acct"] == 1, "chk_acct"] = "checking < 200 USD"
dropNumIncome.loc[dropNumIncome["chk_acct"] == 2, "chk_acct"] = "200 < checking < 2000 USD"
dropNumIncome.loc[dropNumIncome["chk_acct"] == 3, "chk_acct"] = "2000 < checking < 35000 USD"
dropNumIncome.loc[dropNumIncome["chk_acct"] == 4, "chk_acct"] = "checking >= 3500 USD"

##Sav_acct column code

In [25]:
dropNumIncome.loc[dropNumIncome["sav_acct"] == 0, "sav_acct"] = "no savings account"
dropNumIncome.loc[dropNumIncome["sav_acct"] == 1, "sav_acct"] = "100 <= savings < 500 USD"
dropNumIncome.loc[dropNumIncome["sav_acct"] == 2, "sav_acct"] = "500 <= savings < 2000 USD"
dropNumIncome.loc[dropNumIncome["sav_acct"] == 3, "sav_acct"] = "2000 < savings < 35000 USD"
dropNumIncome.loc[dropNumIncome["sav_acct"] == 4, "sav_acct"] = "savings >= 3500 USD"

In [26]:
print(f"The mean of the column answered is {dropNumIncome['answered'].mean()}")

The mean of the column answered is 0.5465947998237228